streamlit>=1.32.0
ultralytics>=8.2.0
# Usamos numpy<2 para evitar conflictos con librerias que aun no soportan Numpy 2.0
numpy<2.0.0
opencv-python-headless>=4.8.0
SoccerNet>=0.1.62
supervision>=0.27.0
# Bajamos un poco la restriccion de scikit-learn para mayor compatibilidad
scikit-learn>=1.5.0
roboflow>=1.1.0
tqdm>=4.67.0
sentencepiece>=0.2.0
# Dependencias para graficos y manejo de datos
plotly>=5.18.0
pandas>=2.0.0
# Instalacion directa de sports
git+https://github.com/roboflow/sports.git
